{% extends 'studentMonitoring/base.html' %}
{% block content %}
    <head><title>Створення команди</title></head>
    <p style="
        text-align: center;
         padding: 0%;
     font-size: 150%;font-weight: 600;">Створення команди</p>

    <form action="" method="GET">
        {% csrf_token %}
        <div style="
        text-align: center;
         padding: 0%;
        margin-top: 0%;

    ">{{ student_filter.form }} </div>
        <p>
            <button style="display: block;
    margin-left: auto;
    margin-right: auto" type="submit">Ок</button>
        </p>
    <button type="submit" style="display: block;
    margin-left: auto;
    margin-right: auto; margin-bottom: 5%;">Створити команду</button>
    </form>




    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th>Учень</th>
            <th>Стать</th>
            <th>Клас</th>
            <th>Секція</th>
            <th>Вік</th>
            <th>Оцінка за навчання</th>
            <th>Оцінка за спорт</th>
            <th>Штрафна оцінка</th>
            <th>Загальна оцінка (Спорт * 0.7 + навчання * 0.3 - штраф * 0.5)</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student }}</td>
                <td>{{ student.sex }}</td>
            <td>{{ student.form }}</td>
                <td>{{ student.section }}</td>
                <td>{{ student.get_age }}</td>
                <td>{{ student.study_assessment }}</td>
            <td>{{ student.sport_assessment }}</td>
            <td>{{ student.violation_assessment }}</td>
                <td>{{ student.calculate_general_assessment }}</td>
             <td><input type="checkbox"></td>
            </tr>
        {% endfor %}
    </table>


    <h3 style="text-align: center;">Учні з порушеннями</h3>
    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th>Учень</th>
            <th>Стать</th>
            <th>Клас</th>
            <th>Секція</th>
            <th>Вік</th>
            <th>Оцінка за навчання</th>
            <th>Оцінка за спорт</th>
            <th>Штрафна оцінка</th>
            <th>Загальна оцінка (Спорт * 0.7 + навчання * 0.3 - штраф * 0.5)</th>
        </tr>
        {% for student in students_viol %}
            <tr>
                <td>{{ student }}</td>
                <td>{{ student.sex }}</td>
            <td>{{ student.form }}</td>
                <td>{{ student.section }}</td>
                <td>{{ student.get_age }}</td>
                <td>{{ student.study_assessment }}</td>
            <td>{{ student.sport_assessment }}</td>
            <td>{{ student.violation_assessment }}</td>
                <td>{{ student.calculate_general_assessment }}</td>
             <td><input type="checkbox"></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}