
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вихід</title>
    <style>div {
        text-align: center;
         padding: 10%;
        margin-top: 40%;

    }
    body{
    background-color: #FFEB7F; /* Цвет фона веб-страницы */
   }
    button{
        display: block;
    margin-left: auto;
    margin-right: auto
    }</style>
</head>
<body>
{% if request.user.is_authenticated %}
    <div style='margin-top:30px;'>
        <form method='POST'>{% csrf_token %}
            <font size="5"> <p>Ви дійсно бажаєти вийти з облікового запису {{ request.user }}?</p></font>
            <button type='submit'>Вийти</button>
        </form>
    </div>
{% else %}
    <p>Ви не ввійшли в обліковий запис</p><a href='/login/'>Ввійти</a>
{% endif %}
</body>
</html>